<head>
  <meta charset="utf-8">
  <title>MAP_Project</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="mat-typography">

<div id = "fillsUpTop">
  <div id = "header">
    <h1 id = "title">8-Queens Problem</h1>
  </div>
</div>

<div id="outerChessBoard">
  <div class="chessboard">
    <div *ngFor="let row of chessboard ; let i = index" class="row">
      <div *ngFor="let square of row; let j = index" class="cell" [class.dark]="isDarkSquare(i, j)">
        <div class="queen" [class.queen]="square === 1">
          <mat-icon class = "queen-icon">queen_chess</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<button mat-raised-button color="primary"  (click)="queensProblem()" class="startButton">Start</button>

</body>
