/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #b5c7e1;
}

#fillsUpTop{
  padding-top: 15px;
}

#header{
  width: 80%;
  padding: 0;
  margin : auto;
  display: flex;
  border-radius: 10px;
  background-color: #4e92e1;
  height: 100px;
  transition: 0.4s all ease;
}

#header:hover{
  background-color: #1976d0 ;
  border-radius: 30px;
  transition-duration: 0.4s;
}

#title{
  margin : auto;
  transition: 1s all ease;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

.chessboard {
  display: flex;
  padding-top: 15px;
  justify-content: center !important;
  margin:auto;
}

.dark {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid black;
  transition: 1s all ease;
}

.cell{
  background-color: #e8eccb;
  transition: 0.2s all ease;
}

.cell:hover{

  background-color: rgba(0, 0, 0, 0.4);

}

.queen {
  background-color: #FFD700; /* Set a gold background color */
  color: #000; /* Set a black text color */
  display: flex;
  justify-content: center;
  height:100%;
  font-weight: bold;
  font-weight: bold; /* Make the text bold */
  border: 2px solid #FFA500; /* Add an orange border */
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* Add a gold shadow with 70% opacity */
}

.startButton{
  display: flex;
  justify-content: center;
  margin: 40px auto auto;
  padding: 30px 60px;
  font-size: 20px;
  margin-bottom: 25px;
}

.dark{
  background-color: #779854;
}

.queen-icon {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Adjust the size as needed */
  color: #3a3e57; /* Adjust the color as needed */
}

.manualButtons{
  margin: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loading{
  padding-top: 25px;
  width: 28%;
  margin:auto;
}

.dark-mode {
  transition: 1s all ease;
  background-color: #333;
  color: #fff;
}

.switch{
}

.outerChessboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
