<head>
  <meta charset="utf-8">
  <title>MAP_Project</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="mat-typography" [class.dark-mode]="isDarkMode">

<div id = "fillsUpTop">
  <div id = "header">
    <h1 id = "title">8-Queens Problem</h1>

  </div>
  <mat-progress-bar class="loading" mode="indeterminate"></mat-progress-bar>
</div>

<div class="outerChessboard">

  <mat-slide-toggle class = "switch"
                    [color]="isDarkMode ? 'primary' : 'accent'"
                    (change)="toggleDarkMode()"
                    [checked]="isDarkMode">
    Dark Mode
  </mat-slide-toggle>
  <div class="chessboard">

    <div *ngFor="let row of chessboard ; let i = index" class="row">
      <div *ngFor="let square of row; let j = index" class="cell" (click) = "chessboard[i][j] = 1" [class.dark]="isDarkSquare(i, j) ">
        <div class="queen" [class.queen]="square === 1">
          <mat-icon *ngIf="square === 1" fontIcon="star" class = "queen-icon"></mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>

<button *ngIf="!clicked2" mat-raised-button color="primary"  (click)="queensProblem(); clicked = true" class="startButton">{{ startButton }}</button>
<button *ngIf="!clicked2" mat-raised-button color="primary" (click)="clicked2 = true;initialiseBoard()" class="startButton">{{ manualButton }}</button>

<ng-container *ngIf="clicked2">
  <button  mat-raised-button color="primary" (click)="clicked2 = false; solveManually()  " class="startButton">{{ checkButton }}</button>
  <button mat-raised-button color="primary" (click)="clicked2 = false; clicked3=true; resetGame() " class="startButton">{{ breakButton }}</button>
</ng-container>

</body>
