<head>
  <meta charset="utf-8">
  <title>MAP_Project</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="mat-typography">

<div id = "fillsUpTop">
  <div id = "header">
    <h1 id = "title">8-Queens Problem</h1>
  </div>
</div>

<div id = "outerChessBoard">
  <div class = "chessboard">
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell even-row even-column"></div>
    <div class="cell even-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
    <div class="cell odd-row even-column"></div>
    <div class="cell odd-row odd-column"></div>
  </div>
</div>

<div class="pawn" id="pawn">Pawn</div>

<button mat-button (click)="check()" class="startButton">Start</button>

</body>
