/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #9ab5dc;
}

#fillsUpTop{
  padding-top: 25px;

}

#header{
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #0f71e1;
  height: 100px;
  transition: 1s all ease;
}

#header:hover{
  background-color: #1976d0 ;
  border-radius: 30px;
  transition-duration: 1s;
}

#title{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.outerChessBoard{
  display: inline-block;
}

.chessboard {
  display: grid;
  justify-content: center;
  padding-top: 100px;
  grid-template-columns: repeat(8, 60px); /* 8 columns, each 50px wide */
  grid-template-rows: repeat(8, 60px); /* 8 rows, each 50px tall */
}

.cell {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid black;
  transition: 1s all ease;
}

.odd-row:nth-child(even),
.even-row:nth-child(odd){
  background-color: #7d935d; /* Light color for even rows and odd columns */
}

.even-row:nth-child(even),
.odd-row:nth-child(odd){
  background-color: #ededd4; /* Dark color for even columns and odd rows */
}

.cell:hover{

  background-color: rgba(0, 0, 0, 0.4);

}

.pawn {
  background-color: #FFD700; /* Set a gold background color */
  color: #000; /* Set a black text color */
  font-weight: bold; /* Make the text bold */
  border: 2px solid #FFA500; /* Add an orange border */
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* Add a gold shadow with 70% opacity */
}
